.faq-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
  }
  
  @media (max-width: 768px) {
    .faq-grid {
      grid-template-columns: repeat(1, 1fr); /* Adjust breakpoint as needed */
    }
  }
  
  .faq-card-container {
    display: flex;
    justify-content: space-between;
  }

  .faq-card .card-title {
    border-bottom: none;
    padding: 0;
    margin: 8px;
  }
  
  .faq-card {
    /* Style cards as desired */
    /* padding: 20px; */
    border: 1px solid #ccc;
    border-radius: 14px;
    box-shadow: none;
    /* height: 300px; */
    /* width: 300px; */
  }
  
  .faq-card.question {
    /* Style question cards differently if needed */
  }
  