.header>* {
  gap: 0;
}

.header,
.navbar,
.nav-menu {
  margin: 0;
  padding: 0;
}

.header {
  background-color: var(--clr-primary);
  position: fixed;
  height: 80px;
  min-width: 100vw;
  top: 0;
  left: 0;
  z-index: 1;
  transition: .3s ease-in;
  overflow: hidden;
  padding: 0 5%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--clr-secondary);
  min-width: 100%;
  height: auto;
}

img#nav-logo {
  max-width: 200px !important;
}

.navbar img {
  display: flex;
  align-items: center;
  width: auto;
  height: 70px;
  margin: 8px;
}

.navbar img:hover {
  font-size: 1.25rem;
  /* color: var(--shd-03); */
}

.nav-menu a {
  font-family: var(--ff-secondary);
  text-transform: uppercase;
  font-size: .8rem;
  letter-spacing: .09rem;
  font-weight: 300;
}

.nav-menu {
  display: flex;
  justify-content: space-evenly;
  width: 40vw;
}

.nav-menu a:hover {
  color: var(--shd-03);
  cursor: pointer;
}

.mobile-social-nav {
  display: none;
}

.social-list {
  display: flex;
  min-width: 5vw;
}

.social-list a:hover {
  color: var(--accent-blue);
  cursor: pointer;
}

.nav-item .active {
  font-weight: bolder;
  color: var(--shd-03);
  /* text-decoration: underline; */
  padding-bottom: 1%;
  border-bottom: 1px solid var(--shd-03);
}

.hamburger {
  display: none;
}

.desktop-social-bar {
  display: flex;
  min-width: 20%;
  justify-content: center;
  align-items: center;
  padding-right: 5%;
}

.social a {
  display: flex;
  flex-direction: row;
  font-family: var(--ff-secondary);
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  font-size: 1.5rem;
  color: var(--clr-secondary) !important;
  background-color: var(--shd-01);
  padding: 6%;
  margin: 6%;
  height: 38px;
  width: 48px;
  border-radius: 14px;
}

.social a:hover {
  color: var(--clr-secondary);
  background-color: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 1080px) {
  .navbar {
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center !important;
    /* Update this line to center the items vertically */
    min-width: 100%;
    height: 100%;
    padding-bottom: 2%;
    margin: 0;
  }

  .nav-menu a {
    font-family: var(--ff-secondary);
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: .09rem;
    font-weight: 300;
    display: flex;
    /* align-items: center; */
    margin: 0 10px;
  }

  .nav-menu a:hover {
    /* color: var(--shd-05); */
    cursor: pointer;
  }

  /* .header {
    display: flex;
    align-items: center;
    min-width: 100vw;
    height: 79px;
    padding: 1%;
    background-color: var(--clr-primary);
    margin: 0;
  } */

  .header .nav-item {
    padding: 1%;
    margin: 0;
  }

  .hamburger {
    display: block;
    padding-right: 2.5%;
    order:3;
  }

  .desktop-social-bar {
    order: 2;
  }

  .nav-menu a {
    display: flex;
    flex-basis: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 12% 0;
  }

  .nav-menu {
    position: fixed;
    right: -100%;
    top: 58px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-primary);
    width: 100%;
    height: 100vh;
    z-index: 999;
    transition: .5s;
    /* padding: 32% 0; */
    z-index: -1;
    margin: 0;
    margin-top: 32%;
  }

  .nav-menu.active {
    right: 0;
    display: flex;
    align-self: center;
    font-weight: bold;
    padding: 3rem;
    margin: 0;
  }
}