/* SocialMBar.css */
.social-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 64px;
  width: 100vw;
  padding: 1.2% 2%;
  position: relative;
  /* ... other styles ... */
}

.social-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Center icons in div */
  padding:16% 0 0 0 ;
  margin-top: 3%;
}

.social-icons a {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  width: 40px;
  height: 40px;
  margin-top: 32.36%;
  margin-left: 32.36%;
  padding: 0; /* Remove padding */
  color: white;
  text-align: center; /* Center text within the element (assuming an icon font) */
}

.social-icons a svg, .social-icons img {
  /* Assuming you're using SVG icons */
  display: inline-block;
  width: 40px;
  height: 40px;
  padding:25%;
  background-color: var(--clr-accent2);
  border-radius: 14px;
}

.social-icons a:hover {
  transform: scale(.809);
  color: white;
  background-color: var(--clr-primary);
}

@media (min-width: 40em) {
  .social-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    height: 64px;
  }

  .social-container > #social-book-now {
    display: none;
  }

  .social-icons a {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center icons vertically */
    align-items: center; /* Center icons horizontally */
    /* ... other styles ... */
  }

  /* Show icons on hero page, hide on other pages when scrolling */
  .social-icons {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }

  .hero-page .social-icons {
    opacity: 1; /* Always visible on hero page */
  }

  body:not(.hero-page):not(.is-scrolling) 
  .social-icons {
    opacity: 0; /* Hide on other pages when*/
  }
}

/* SocialMBar.css */
/* ... other styles ... */

@media (min-width: 1100px) {
  .social-container {
    display: flex;
    height: 76px;
    /* background-color: var(--clr-sheer); */
    justify-content: flex-end; /* Align icons to the right */
  }

  .social-icons {
    display: flex;
    flex-direction: row;
    align-items: center; /* Center icons vertically */
    /* padding:16% 0 0 0 ; */
    margin-left: 3%;
    color: white;
  }

  .social-icons a {
    margin-left: 0; /* Remove horizontal margin */
    margin-top: 0; /* Remove vertical margin */
  }
}
